

<mat-toolbar style="color: rgb(230, 237, 234);background-color: rgb(36, 77, 56);">
  Sign up Flow with Firebase

  <!-- <div class="container">
    <img src="../assets/images/quiz1.webp" >
  </div> -->

  <ng-container *ngIf="authService.currentUser$| async as user;else loginButton">

    <button mat-button [matMenuTriggerFor]="userMenu">
       <mat-icon>account_circle</mat-icon>
       {{user.displayName}}
       <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>
  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      login
   </button>
  </ng-template>
  
</mat-toolbar>
<!-- <div class="background-image">
  <img src="../assets/images/quiz.jpg" >
</div>  -->

<div class="content">
  <router-outlet></router-outlet> 
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
